streamlit==1.43.2
langchain==0.3.20
langchain-core==0.3.44
langchain-xai>=0.1.0
langchain-groq
langchain-text-splitters==0.3.6
langsmith==0.3.13
faiss-cpu==1.10.0
sentence-transformers==3.4.1
torch==2.6.0
transformers==4.49.0
numpy==2.2.3
pandas==2.2.3
scikit-learn==1.6.1
scipy==1.15.2
nltk==3.9.1
beautifulsoup4==4.13.3
requests==2.32.3
PyMuPDF==1.25.3
fpdf==1.7.2
plotly==6.0.0
python-dotenv==1.0.1
resend==2.4.0
huggingface-hub==0.29.3
tokenizers==0.21.1
pillow==11.1.0
